.dashboard {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.card {
  color: black;
  padding: 20px;
  width: 200px;
  border-radius: 8px;
  font-size: 10px;
}



.logout {
  margin-top: 40px;
}

