html, body {
  height: 100%; 
  margin: 0;    
  padding: 0;   
}
body {
  background-image: image-url('biblioteca_capa.jpg');
  background-size: cover;            
  background-repeat: no-repeat;       
  background-position: center center; 
  
}


.form-caixa{
  background: rgb(153, 64, 64);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}

.campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgb(192, 182, 182);
}

input:focus {
  outline: none;
  border-color: rgb(131, 67, 25);
}


.btn-primeiro {
  background-color: rgb(131, 67, 25);
  border-radius: 5px;
  color: black;
}

.btn-segundo {
  background-color: gray;
  border-radius: 5px;
  color: black;
}

.btn-new {
  background-color: rgb(36, 17, 9);
  margin-bottom: 15px;
  display: inline-block;
  border-radius: 2px;
  color: gold;
}

.btn-new:hover{
    background-color:rgb(216, 136, 44);
}

.btn-edit {
  background-color: yellow;
  border-radius: 5px;
  color: black;
}

.btn-delete {
  background-color: red;
  color: white;
  border-radius: 5px;
}

.tabela {
  border-collapse: collapse;
  width: 100%;
  background: white;
  table-layout: fixed; 

}

th {
  background-color: rgb(68, 26, 26);
  color: white;
  padding: 10px;
  text-align: left; 
  vertical-align: middle; 
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}

td {
  background-color: rgb(94, 85, 85);
  padding: 10px;
  text-align: left; 
  vertical-align: middle; 
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}

.errors {
  background-color: rgb(219, 143, 143);
  color: rgb(110, 29, 29);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.btn-voltar{
    background-color: lightseagreen;
    color: black;
    border-radius: 5px;
}

.btn-voltar:hover{
    background-color:aquamarine;
}

.login{
  background-color:rgb(34, 9, 9);
  width: 25%;
  color: gold;
}

.criar{
  color: white;
  font-size: 25px;
}

.novo{
  color: gold;
  background-color: rgb(34, 9, 9);
  width: 19%;
}

// .dashboard{
//   color: gold;
//   background-color:rgb(34, 9, 9);
//   width: 19%;
// }

.autores{
  color:gold;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #000;
}
.dashboard {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: gold;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #000;
  font-size: 20px;
  
}

.div_index{
  background-image: image-url('livro_aberto2.jpg');
  height: 1000px;
  background-size: cover;            
  background-repeat: no-repeat;       
  background-position: center center; 
}
.div_new{
  color:gold;
  display: flex;
  flex-direction: column;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.show{
  color:gold;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.edit{
  color:gold;
  display: flex;
  flex-direction: column;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.aham{
  color:gold;
  font-size: 20px;
}


.estilo_texto{
  color: white;
  font-size: 25px;
}

.ab{
  color:white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: gold;
}
.sinopse-restrita {
  max-width: 600px; 
  margin: 10px 0;  
  text-align: justify; 
}

.conteudo-sinopse {
  max-height: 300px; 
  overflow-y: auto;
  padding-right: 10px; 
}

.conteudo-sinopse::-webkit-scrollbar {
  width: 6px;
}
.conteudo-sinopse::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}